/* CSS  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


.header-container{
    color: white;
    min-height: 100vh;
    background-image: url('Images/header-bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}


.navbar {
    height: 12vh;
    background-color: #33333376;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar h1 {
    color: #fff;
    font-size: 3rem;
    letter-spacing: 3px;
}
.navbar p {
    color: #eee;
    font-size: 1.4rem;
    letter-spacing: 2.5px;
}


.user-form {
    height: 88vh;
    background-color: #1111111d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-label {
    height: 150px;
    background-color: #3333337a;
    padding: 20px;
}
.form-label label {
    font-size: 1.7rem;
}
.form-label input {
    display: block;
    font-size: 1.2rem;
    margin-top: 7px;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 5px;
}

.submit {
    display: flex;
    justify-content: center;
}
.submit-btn {
    font-size: 1.5rem;
    background-color: #333;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 7px 13px;
    margin-top: 12px;
}
.submit-btn a {
    text-decoration: none;
    color: white;
}


#main {
    min-height: 100vh;
    background-image: url("Images/main-background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.main-header-container {
    width: 65vw;
    background: linear-gradient(to right,#44444421, #1111114e);
    border-radius: 0px 0px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline-start: 521px;
    padding: 8px 40px;
}
.main-headline h2 {
    letter-spacing: 3px;
    font-size: 2rem;
}
.user-name h2 {
    font-size: 1.2rem;
    color: #111;
    border-left: 2px solid red;
    padding-left: 10px;
}


.todo-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-section {
    width: 90vw;
    height: 85vh;
    background-color: #2222221c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}

.todo-form,
.todo-list {
    width: 50vw;
    background-color: #ccc;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #444;
}
.todo-form {
    border: 1px solid black;
}
.todo-list {
    display: none;
}

.todo-form input,
.todo-list input {
    width: 70%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: black;
    height: 3rem;
    padding: 6px 12px;
    background-color: #ccc;
}


::placeholder {
    color: #444;
    opacity: 0.5;
}

.todo-section-form,
.todo-list-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn {
    padding-inline-end: 5px;
}

.btn button {
    background-color: #333;
    color: #ddd;
    height: 90%;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 6px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.btn button:hover {
    opacity: 0.9;
}